<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard vendor</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-gray-100">
    <main class="flex h-screen bg-gray-100">
        <aside class="hidden md:flex flex-col w-64 bg-gray-800">
            <div class="flex items-center justify-center h-16 bg-gray-900">
                <span class="text-white font-bold uppercase">tableau de bord vendeur</span>
            </div>
            <div class="flex flex-col flex-1 overflow-y-auto">
                <nav class="flex-1 px-2 py-4 bg-gray-800">
                    <!-- <button class="flex items-center px-4 py-2 text-gray-100 hover:bg-gray-700">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" class="h-6 w-6 mr-2">
                            <path
                                d="M272.5 5.7c9-7.6 22.1-7.6 31.1 0l264 224c10.1 8.6 11.4 23.7 2.8 33.8s-23.7 11.3-33.8 2.8L512 245.5V432c0 44.2-35.8 80-80 80H144c-44.2 0-80-35.8-80-80V245.5L39.5 266.3c-10.1 8.6-25.3 7.3-33.8-2.8s-7.3-25.3 2.8-33.8l264-224zM112 204.8V432c0 17.7 14.3 32 32 32h288c17.7 0 32-14.3 32-32V204.8L288 55.5 112 204.8zM224 224a64 64 0 1 1 128 0 64 64 0 1 1 -128 0zm32 96h64c44.2 0 80 35.8 80 80 0 8.8-7.2 16-16 16H192c-8.8 0-16-7.2-16-16 0-44.2 35.8-80 80-80z" />
                        </svg>
                        Home
                    </button> -->
                    <button class="flex items-center px-4 py-2 mt-2 hover:bg-gray-700 ">
                        <svg class="fill-current h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                            <path
                                d="M18.546 3h-13.069l-5.477 8.986v9.014h24v-9.014l-5.454-8.986zm-3.796 12h-5.5l-2.25-3h-4.666l4.266-7h10.82l4.249 7h-4.669l-2.25 3zm-9.75-4l.607-1h12.787l.606 1h-14zm12.18-3l.607 1h-11.573l.607-1h10.359zm-1.214-2l.606 1h-9.144l.607-1h7.931z" />
                        </svg>
                        <span class="pl-2 text-gray-100">Les annonces</span>
                    </button>
                    <button class="flex items-center px-4 py-2 mt-2  hover:bg-gray-700">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 512 512"
                            class="h-6 w-6 mr-2">
                            <path
                                d="M448 416v-64H64v64h384zm0 64H64c-35.3 0-64-28.7-64-64v-64c0-35.3 28.7-64 64-64h384c35.3 0 64 28.7 64 64v64c0 35.3-28.7 64-64 64zM288 160c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V96C0 60.7 28.7 32 64 32h144h16h144c44.2 0 80 35.8 80 80v16h38.1c21.4 0 32.1 25.9 17 41L433 239c-9.4 9.4-24.6 9.4-33.9 0l-70.1-70c-15.1-15.1-4.4-41 17-41H384v-16c0-8.8-7.2-16-16-16h-80v64z" />
                        </svg>
                        <span class="text-gray-100">les Demandes</span>
                    </button>

                    <button class="flex items-center px-4 py-2 mt-2 text-gray-100 hover:bg-gray-700">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 mr-2" viewBox="0 0 512 512">
                            <path
                                d="M160 368c26.5 0 48 21.5 48 48v16l72.5-54.4c8.3-6.2 18.4-9.6 28.8-9.6H448c8.8 0 16-7.2 16-16V64c0-8.8-7.2-16-16-16H64c-8.8 0-16 7.2-16 16v288c0 8.8 7.2 16 16 16h96zm48 124l-5.3 4.1-17.1 12.8c-4.8 3.6-11.3 4.2-16.8 1.5s-8.8-8.2-8.8-14.3v-32h-96c-35.3 0-64-28.7-64-64V64C0 28.7 28.7 0 64 0h384c35.3 0 64 28.7 64 64v288c0 35.3-28.7 64-64 64H304L208 492z" />
                        </svg>
                        Les messages
                    </button>
                    <button class="flex items-center px-4 py-2 mt-2 text-gray-100 hover:bg-gray-700">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 mr-2" viewBox="0 0 448 512">
                            <path
                                d="M304 128a80 80 0 1 0 -160 0 80 80 0 1 0 160 0zM96 128a128 128 0 1 1 256 0A128 128 0 1 1 96 128zM49.3 464h349.5c-8.9-63.3-63.3-112-129-112h-91.4c-65.7 0-120.1 48.7-129 112z" />
                        </svg>
                        Profile
                    </button>
                    <button class="flex items-center px-4 py-2 mt-2 text-gray-100 hover:bg-gray-700">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 mr-2" viewBox="0 0 512 512">
                            <path
                                d="M64 64c0-17.7-14.3-32-32-32S0 46.3 0 64V400c0 44.2 35.8 80 80 80h400c17.7 0 32-14.3 32-32s-14.3-32-32-32H80c-8.8 0-16-7.2-16-16V64zm406.6 86.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L320 210.7l-57.4-57.4c-12.5-12.5-32.8-12.5-45.3 0l-112 112c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L240 221.3l57.4 57.4c12.5 12.5 32.8 12.5 45.3 0l128-128z" />
                        </svg>
                        les Statistiques
                    </button>
                    <button class="flex items-center px-4 py-2 mt-2 text-gray-100 hover:bg-gray-700">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 mr-2" viewBox="0 0 512 512">
                            <path
                                d="M502.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-128-128c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L402.7 224H192c-17.7 0-32 14.3-32 32s14.3 32 32 32h210.7l-73.4 73.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l128-128zM160 96c17.7 0 32-14.3 32-32S177.7 32 160 32H96C43 32 0 75 0 128v256c0 53 43 96 96 96h64c17.7 0 32-14.3 32-32s-14.3-32-32-32H96c-17.7 0-32-14.3-32-32V128c0-17.7 14.3-32 32-32h64z" />
                        </svg>
                        Déconnexion
                    </button>

                </nav>
            </div>
        </aside>
        <section class="flex flex-col flex-1 overflow-y-auto">
            <nav class="flex items-center justify-between h-16 bg-white border-b border-gray-200">
                <div class="flex items-center px-4 w-24">
                    <img src="../../assets/images/icon/logo.png" alt="Logo" class="w-full h-auto" />

                </div>
                <div class="flex items-center pr-4">
                    <button
                        class="flex items-center space-x-2 border rounded-full p-2  md:w-[90px] w-[90px] hover:shadow-md"
                        id="button_profile_button">
                        <img src="../../assets/images/icon/hamburger-menu.jpg" alt="User" class="w-6 h-6" />
                        <img src="../../assets/images/icon/profile-icon.jpg" alt="profile image"
                            id="profile-image-client" class="w-7 h-7" />
                    </button>
            </nav>
            <section class="bg-white mt-4 p-1 xs:p-8">
                <div class="max-w-96 sm:max-w-4xl mx-auto border border-[#4D7C0F] rounded-lg p-8">
                    <div class="flex justify-between">
                        <h2 class="sm:text-xl text-[12px] font-bold mb-6">Ajouter une annonce de maison</h2>
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6"
                            viewBox="0 0 384 512">                            <path
                                d="M342.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 210.7 86.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L146.7 256 41.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 301.3 297.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L237.3 256 342.6 150.6z" />
                        </svg>
                    </div>
                    <form enctype="multipart/form-data" id="add-annonce-form" method="POST">
                        <div class="space-y-6">
                            <div>
                                <label for="title"
                                    class="text-xs xs:text-sm font-medium text-gray-700 mb-1 block">Titre</label>
                                <input type="text" id="title" name="title"
                                    class="h-[50px] rounded-[5px] text-xs xs:text-sm border border-[#D1D5DB] w-full px-2"
                                    placeholder="Entrez le titre ici">
                            </div>
                            <div>
                                <label for="ville"
                                    class="text-xs xs:text-sm font-medium text-gray-700 mb-1 block">Ville</label>
                                <input type="text" id="ville" name="ville"
                                    class="h-[50px] rounded-[5px] text-xs xs:text-sm border border-[#D1D5DB] w-full px-2"
                                    placeholder="Entrez la ville ici">
                            </div>
                            <div class="grid sm:grid-cols-2 grid-cols-1 gap-6">
                                <div>
                                    <label for="prix"
                                        class="text-xs xs:text-sm font-medium text-gray-700 mb-1 block">Prix</label>
                                    <div class="relative">
                                        <span
                                            class="absolute inset-y-0 left-0 flex items-center pl-1 text-gray-500 text-lg font-medium ">DH</span>
                                        <input type="text" id="price" name="price"
                                            class="h-[50px] rounded-[5px] text-xs xs:text-sm border border-[#D1D5DB] w-full px-2 pl-8 font-light"
                                            placeholder="0.00">
                                    </div>
                                </div>
                                <div>
                                    <input type="hidden" name="seller_id" value="1">
                                    <input type="hidden" name="category_id" value="1">
                                    <label for="type"
                                        class="text-xs xs:text-sm font-medium text-gray-700 mb-1 block">Type
                                        d’annonce</label>
                                    <select name="type" id="type"
                                        class="h-[50px] rounded-[5px] text-xs xs:text-sm border border-[#D1D5DB] w-full px-2">
                                        <option value="acheter" selected>Acheter</option>
                                        <option value="louer">Louer</option>
                                    </select>
                                </div>
                            </div>
                            <div>
                                <label for="description"
                                    class="text-xs xs:text-sm font-medium text-gray-700 mb-1 block">Description de la
                                    maison
                                </label>
                                <textarea id="description" name="description" rows="4"
                                    class="w-full text-xs xs:text-sm border border-[#D1D5DB] rounded-[5px] p-2"
                                    placeholder="Décrivez quelque chose..."></textarea>
                            </div>
                            <div>
                                <label for="images"
                                    class="text-xs xs:text-sm font-medium text-gray-700 mb-1 block">Télécharger
                                    des images de la maison</label>
                                <input type="file" id="images" name="images[]" multiple
                                    accept="image/jpeg, image/png, image/jpg">
                                <output class="mt-2 block"></output>
                            </div>
                            <div>
                                <label
                                    class="text-xs xs:text-sm font-medium text-gray-700 mb-1 block">Localisation</label>
                                <div id="map" class="w-full h-64 rounded-md border border-[#D1D5DB]"></div>
                                <input type="hidden" name="latitude" id="latitude">
                                <input type="hidden" name="longitude" id="longitude">
                            </div>
                            <div>
                                <label class="text-xs xs:text-sm font-medium text-gray-700 mb-1 block">Ce que cet
                                    endroit
                                    offre</label>
                                <div class="grid grid-cols-2 sm:grid-cols-4 gap-4">
                                    <label class="flex items-center space-x-2">
                                        <input type="checkbox" name="features[]" value="wifi" class="accent-[#4D7C0F]">
                                        <span class="text-xs xs:text-sm">Wi-Fi</span>
                                    </label>
                                    <label class="flex items-center space-x-2">
                                        <input type="checkbox" name="features[]" value="salle_de_bain"
                                            class="accent-[#4D7C0F]">
                                        <span class="text-xs xs:text-sm">Salle de bain</span>
                                    </label>
                                    <label class="flex items-center space-x-2">
                                        <input type="checkbox" name="features[]" value="cuisine"
                                            class="accent-[#4D7C0F]">
                                        <span class="text-xs xs:text-sm">Cuisine</span>
                                    </label>
                                    <label class="flex items-center space-x-2">
                                        <input type="checkbox" name="features[]" value="parc_de_maison"
                                            class="accent-[#4D7C0F]">
                                        <span class="text-xs xs:text-sm">Parc de maison</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="mt-8 pt-6 border-t border-gray-200 flex justify-between">
                            <button class="  sm:block underline-offset-8 border-2  p-[13px_25px]  ">Annuler</button>
                            <button type="submit"
                                class=" w-[200px] h-[50px] text-xs sm:text-base bg-orange-500 rounded-[5px] p-[13px_25px] text-white">Enregistrer</button>
                        </div>
                    </form>
                </div>
            </section>
            <div class="container mx-auto px-4 py-8">
                <h1 class="text-3xl font-bold text-center mb-8">Les domendes</h1>

                <div class="flex flex-col md:flex-row justify-between items-center mb-6">
                    <div class="w-full md:w-1/3 mb-4 md:mb-0">
                        <input type="text" placeholder="Search users..."
                            class="w-full px-4 py-2 rounded-md border border-gray-300 bg-white focus:outline-none focus:ring-2 focus:ring-blue-500">
                    </div>
                </div>

                <div class="overflow-x-auto bg-white rounded-lg shadow">
                    <table class="w-full table-auto">
                        <thead>
                            <tr class="bg-gray-200 text-gray-600 uppercase text-sm leading-normal">
                                <th class="py-3 px-6 text-left">client</th>
                                <th class="py-3 px-6 text-left">annonce</th>
                                <th class="py-3 px-6 text-left">Date de commande</th>
                                <th class="py-3 px-6 text-left">Statuses</th>
                                <th class="py-3 px-6 text-center">Actions</th>
                            </tr>
                        </thead>
                        <tbody class="text-gray-600 text-sm">
                            <tr class="border-b border-gray-200 hover:bg-gray-100">
                                <td class="px-6 py-4 whitespace-nowrap">
                                    <div class="flex items-center">
                                        <div class="flex-shrink-0 h-10 w-10">
                                            <img class="h-10 w-10 rounded-full" src="" alt="photo  de  vendeur">
                                        </div>
                                        <div class="ml-4">
                                            <div class="text-sm font-medium text-gray-900">
                                                nom client
                                            </div>
                                            <div class="text-sm text-gray-500">
                                                emil de vendor
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td class="py-3 px-6 text-left">
                                    <a href="">
                                        titre
                                    </a>
                                </td>
                                <td class="py-3 px-6 text-left">2025-00-00</td>
                                <td class="py-3 px-6 text-left">encour</td>
                                <td class="py-3 px-6 text-center">
                                    <div class="flex item-center justify-center">
                                        <button class="w-4 mr-2 transform hover:text-blue-500 hover:scale-110">
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                                <path
                                                    d="M256 48a208 208 0 1 1 0 416 208 208 0 1 1 0-416zm0 464A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM369 209c9.4-9.4 9.4-24.6 0-33.9s-24.6-9.4-33.9 0l-111 111-47-47c-9.4-9.4-24.6-9.4-33.9 0s-9.4 24.6 0 33.9l64 64c9.4 9.4 24.6 9.4 33.9 0L369 209z" />
                                            </svg>
                                        </button>
                                        <button class="w-4 mr-2 transform hover:text-red-500 hover:scale-110">
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                                <path
                                                    d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM184 232l144 0c13.3 0 24 10.7 24 24s-10.7 24-24 24l-144 0c-13.3 0-24-10.7-24-24s10.7-24 24-24z" />
                                            </svg>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="flex flex-col md:flex-row h-full">
                <aside id="sidebar"
                    class="hidden md:block w-full md:w-80 bg-gray-900 border-b md:border-b-0 md:border-r border-gray-800 md:relative fixed top-0 left-0 z-40 h-full overflow-y-auto transition-transform duration-300 ease-in-out md:translate-x-0 translate-x-[-100%]">

                    <div class="p-4">
                        <div class="relative">
                            <input type="search" placeholder="Recherche"
                                class="w-full bg-gray-800 rounded-xl py-2 pl-10 pr-4 text-gray-100 placeholder-gray-400 focus:outline-none focus:ring-2 focus:ring-primary">
                            <svg class="w-5 h-5 text-gray-400 absolute left-3 top-2.5" fill="none" stroke="currentColor"
                                viewBox="0 0 24 24">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
                            </svg>
                        </div>
                    </div>

                    <div class="overflow-y-auto max-h-[300px] md:max-h-[calc(100vh-5rem)]">
                        <div class="px-2 space-y-1">
                            <div class="p-3 rounded-xl hover:bg-gray-800 flex items-center gap-3">
                                <div class="w-12 h-12 rounded-xl overflow-hidden">
                                    <img src="h" alt="Utilisateur" class="w-full h-full object-cover" />
                                </div>
                                <div class="flex-1 min-w-0">
                                    <div class="flex items-center justify-between">
                                        <h3 class="font-semibold">hamza</h3>
                                        <span class="text-xs text-gray-400">20m</span>
                                    </div>
                                    <p class="text-sm text-gray-400 truncate">Salut ! Nous sommes prêts à commencer...
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </aside>
                <section class="flex-1 flex flex-col bg-gray-900">
                    <header class="p-4 border-b border-gray-800 flex items-center justify-between">
                        <div class="flex items-center gap-4">
                            <h1 class="text-xl font-bold">Nom de l'utilisateur</h1>
                            <span class="text-sm text-gray-400">23 membres, 10 en ligne</span>
                        </div>
                        <div class="flex items-center gap-4">
                            <button
                                class="w-10 h-10 rounded-xl bg-gray-800 flex items-center justify-center text-primary">
                                <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                        d="M12 5v.01M12 12v.01M12 19v.01M12 6a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2z" />
                                </svg>
                            </button>
                        </div>
                    </header>
                    <div class="flex-1 overflow-y-auto p-4 space-y-6">
                        <div class="flex gap-4 max-w-2xl">
                            <img src="./../../" alt="Utilisateur" class="w-10 h-10 rounded-xl" />
                            <div class="flex-1">
                                <div class="flex items-center gap-2 mb-1">
                                    <span class="text-xs text-gray-400">09:20</span>
                                </div>
                                <div class="bg-gray-800 rounded-xl p-4">
                                    <p>J'ai ajouté de nouveaux flux à notre système de design. Tu peux sectiontenant les
                                        utiliser pour tes projets !</p>
                                </div>
                            </div>
                        </div>

                        <div class="flex gap-4 max-w-2xl ml-auto">
                            <div class="flex-1">
                                <div class="flex items-center justify-end gap-2 mb-1">
                                    <span class="font-semibold">Vous</span>
                                    <span class="text-xs text-gray-400">09:27</span>
                                </div>
                                <div class="bg-primary bg-opacity-20 rounded-xl p-4">
                                    <p>Abhi, toutes mes félicitations ! Je serai ravi de travailler avec toi sur un
                                        nouveau projet 😊</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <footer class="p-4 border-t border-gray-800">
                        <div class="flex items-center gap-2 bg-gray-800 rounded-xl p-2">
                            <button class="p-2 hover:bg-gray-700 rounded-lg text-primary">
                                <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                        d="M15.172 7l-6.586 6.586a2 2 0 102.828 2.828l6.414-6.586a4 4 0 00-5.656-5.656l-6.415 6.585a6 6 0 108.486 8.486L20.5 13" />
                                </svg>
                            </button>
                            <input type="text" placeholder="Votre message"
                                class="flex-1 bg-transparent focus:outline-none text-gray-100 placeholder-gray-400" />
                            <button class="p-2 hover:bg-gray-700 rounded-lg text-primary">
                                <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                        d="M19 11a7 7 0 01-7 7m0 0a7 7 0 01-7-7m7 7v4m0 0H8m4 0h4m-4-8a3 3 0 01-3-3V5a3 3 0 116 0v6a3 3 0 01-3 3z" />
                                </svg>
                            </button>
                            <button class="p-2 hover:bg-gray-700 rounded-lg text-primary">
                                <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                        d="M12 19l9 2-9-18-9 18 9-2zm0 0v-8" />
                                </svg>
                            </button>
                        </div>
                    </footer>
                </section>
            </div>
            <div class="dark:bg-gray-800 h-screen ">

                <div class="col-span-3 md:col-span-2 flex flex-col items-center md:items-start gap-4 pt-16 px-2">

                    <p
                        class="flex justify-center w-full gap-2 pt-4 font-extrabold text-2xl md:text-3xl dark:text-white">
                        <span>Staistiques</span>

                        <svg xmlns="http://www.w3.org/2000/svg" class="w-8 h-8" viewBox="0 0 512 512">
                            <path
                                d="M64 64c0-17.7-14.3-32-32-32S0 46.3 0 64L0 400c0 44.2 35.8 80 80 80l400 0c17.7 0 32-14.3 32-32s-14.3-32-32-32L80 416c-8.8 0-16-7.2-16-16L64 64zm406.6 86.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L320 210.7l-57.4-57.4c-12.5-12.5-32.8-12.5-45.3 0l-112 112c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L240 221.3l57.4 57.4c12.5 12.5 32.8 12.5 45.3 0l128-128z" />
                        </svg>
                    </p>
                    <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6 pb-8 pt-4 mx-auto">

                        <div title="All countributed components"
                            class="flex flex-col justify-center items-center gap-2 border-2 border-dashed border-gray-500/50 p-4 rounded-md h-32 dark:text-gray-200">
                            <div class="flex gap-2 items-center">
                                <span class="font-bold text-3xl md:text-4xl">
                                    30
                                </span>
                                <svg class="fill-current h-8 w-8" xmlns="http://www.w3.org/2000/svg"
                                    viewBox="0 0 24 24">
                                    <path
                                        d="M18.546 3h-13.069l-5.477 8.986v9.014h24v-9.014l-5.454-8.986zm-3.796 12h-5.5l-2.25-3h-4.666l4.266-7h10.82l4.249 7h-4.669l-2.25 3zm-9.75-4l.607-1h12.787l.606 1h-14zm12.18-3l.607 1h-11.573l.607-1h10.359zm-1.214-2l.606 1h-9.144l.607-1h7.931z" />
                                </svg>
                            </div>
                            <span class="font-semibold text-sm text-center">Anonces</span>
                        </div>

                        <div title="Users got help"
                            class="flex flex-col justify-center items-center gap-2 border-2 border-dashed border-gray-500/50 p-4 rounded-md h-32 dark:text-gray-200">
                            <div class="flex gap-2 items-center">
                                <span class="font-bold text-3xl md:text-4xl">
                                    93.9k
                                </span>
                                <svg xmlns="http://www.w3.org/2000/svg" class="w-8 h-8" viewBox="0 0 512 512">
                                    <path
                                        d="M32 32l448 0c17.7 0 32 14.3 32 32l0 32c0 17.7-14.3 32-32 32L32 128C14.3 128 0 113.7 0 96L0 64C0 46.3 14.3 32 32 32zm0 128l448 0 0 256c0 35.3-28.7 64-64 64L96 480c-35.3 0-64-28.7-64-64l0-256zm128 80c0 8.8 7.2 16 16 16l160 0c8.8 0 16-7.2 16-16s-7.2-16-16-16l-160 0c-8.8 0-16 7.2-16 16z" />
                                </svg>
                            </div>
                            <span class="font-semibold text-sm text-center">domzndes sur les annonces</span>
                        </div>

                        <div title="Total favorites received on components"
                            class="flex flex-col justify-center items-center gap-2 border-2 border-dashed border-gray-500/50 p-4 rounded-md h-32 dark:text-gray-200">
                            <div class="flex gap-2 items-center">
                                <span class="font-bold text-3xl md:text-4xl">
                                    60
                                </span>
                                <svg class="w-8 h-8" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                    stroke-width="1.5" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                        d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12z">
                                    </path>
                                </svg>
                            </div>
                            <span class="font-semibold text-sm text-center">like

                            </span>
                        </div>

                        <div title="component views"
                            class="md:col-start-2 lg:col-auto flex flex-col justify-center items-center gap-2 border-2 border-dashed border-gray-500/50 p-4 rounded-md h-32 dark:text-gray-200">
                            <div class="flex gap-2 items-center">
                                <span class="font-bold text-3xl md:text-4xl">
                                    3.3k
                                </span>
                                <svg class="w-8 h-8" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                    stroke-width="1.5" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                        d="M2.036 12.322a1.012 1.012 0 010-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178z">
                                    </path>
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                        d="M15 12a3 3 0 11-6 0 3 3 0 016 0z">
                                    </path>
                                </svg>
                            </div>
                            <span class="font-semibold text-sm text-center">client views les annonces</span>
                        </div>

                    </div>

                </div>

            </div>
        </section>

    </main>
</body>

</html>