<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>sarouti</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-gray-50">
  <header class="bg-white shadow-sm sticky top-0 z-50">
    <div class="container mx-auto px-4 py-4 flex justify-between items-center">
      <div class="w-24">
        <img src="../../assets/images/icon/logo.png" alt="Logo" class="w-full h-auto" />
      </div>
      <div class="flex items-center border border-gray-200 rounded-full shadow px-6 py-2 hidden md:flex">
        <div class="px-4 border-r border-gray-200 font-medium">Où</div>
        <div class="px-4 border-r border-gray-200 font-medium">Semaine</div>
        <div class="px-4 font-medium">Nombre de personnes</div>
        <div class="bg-[#FF385C] rounded-full w-8 h-8 flex items-center justify-center ml-4">
          <img src="../../assets/images/icon/search.png" />
        </div>
      </div>

      <div class="flex items-center space-x-4">
        <button class="hover:bg-gray-100 p-2 rounded-full hidden md:flex relative">
          <span
            class="bg-red-500/80 text-white rounded-full absolute -top-1 -left-[0px] w-5 h-5 flex items-center justify-center text-xs">2</span>
          <img src="../../assets/images/icon/send.png" alt="Icône d'envoi" class="w-12 h-6" />
        </button>
        <div class="container mx-auto px-4 py-4">
          <button
            class="flex items-center space-x-2 bg-white rounded-full px-4 py-2 border border-gray-300 hover:shadow-md hidden  lg:hidden md:flex">
            <img src="../../assets/images/icon/filter-icon.png" alt="Filter" class="w-4 h-4" />
            <span>Filters</span>
          </button>
        </div>
        <button class="flex items-center space-x-2 border rounded-full p-2  md:w-[150px] w-[150px] hover:shadow-md">
          <img src="../../assets/images/icon/hamburger-menu.jpg" alt="User" class="w-6 h-6" />
          <img src="../../assets/images/icon/profile-icon.jpg" alt="profile image" class="w-7 h-7" />
        </button>
      </div>
    </div>
  </header>






</body>

</html>